<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tdr.bugcar_v1" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothPanelActivity"
            android:label="@string/title_activity_bluetooth_panel"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tdr.bugcar_v1.MainActivity" />
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".ReceivedMessagesActivity"
            android:label="@string/title_activity_received_messages"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name=".remote_control_activity"
            android:label="@string/title_activity_remote_control_activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CarCommands"
            android:label="@string/title_activity_car_commands"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name=".CarSettings"
            android:label="@string/title_activity_car_settings"
            android:screenOrientation="portrait"  >
        </activity>
    </application>

</manifest>
